body {
  width: 50%;
  margin: 0 auto !important;
  padding: 60px 0;
  font-family: "Poppins", sans-serif !important;
  background: linear-gradient(to top, #b3cdf3 0%, #ffcbc5 100%);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 140px;
  color: white;
}
.card {
  padding: 20px;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/036/190/original/tamsin-isaacs-C2zC-CUyYks-unsplash.jpg?1654272999);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 5px 5px 10px rgba(56, 56, 56, 0.3);
  border-radius: 15px;
}

#inputbutton {
  color: white;
  background-color: #46346c;
}
::placeholder {
  color: white;
  padding-left: 5px;
}

input {
  max-width: 30%;
  border-radius: 10px;
  border: none;
  background-color: #46346c63;
  color: white;
}
h1 {
  font-weight: 600 !important;
  font-size: 66px !important;
}
h2 {
  font-size: 110px !important;
  text-align: right;
}
h3 {
  font-size: 22px !important;
}
.daysandweather p,
.week p {
  text-align: center;
}
.emoji {
  font-size: 50px;
  margin: 0;
}
.maxandlowest {
  font-weight: 200 !important;
  font-size: 50px !important;
  text-align: right !important;
  margin-right: 20px;
}
a {
  color: black !important;
  text-decoration: none !important;
}
.small_emoji {
  font-size: 30px;
  text-align: center;
}
.topcard {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.github {
  color: purple !important;
}
